<!-- Article START-->
<article
  class="post"
  id="post{{ idx }}"
  *ngFor="let article of articles(); let idx = index"
>
  <div class="flex justify-content-center align-items-center"></div>
  <app-article-header
    [article]="article"
    (delete)="onDeleteArticle($event)"
    (titleChanged)="onModifyArticleTitle($event)"
  ></app-article-header>
  <app-article-footer [article]="article"></app-article-footer>
</article>
<!-- Article END-->
