<p-dialog
  header="新增文章"
  [(visible)]="dialogVisible"
  [style]="{ width: '50vw' }"
>
  <ng-template pTemplate="header">
    <div class="flex py-4 text-4xl text-white">新增文章</div>
  </ng-template>

  <form
    *ngIf="insertForm"
    [formGroup]="insertForm"
    (submit)="doSubmitArticle()"
  >
    <div class="grid pt-4">
      <div class="col-12 flex flex-column">
        <div class="text-3xl">標題</div>
        <input type="text" formControlName="title" required pInputText />
      </div>
      <div class="col-4">
        <div class="flex flex-column">
          <div class="text-3xl">作者</div>
          <input pInputText type="text" formControlName="author" required />
        </div>
      </div>
      <div class="col-4">
        <div class="flex flex-column">
          <div class="text-3xl">日期</div>
          <p-calendar
            formControlName="date"
            [showIcon]="true"
            dateFormat="yy/mm/dd"
          />
        </div>
      </div>
      <div class="col-4">
        <div class="flex flex-column">
          <div class="text-3xl">分類</div>
          <input pInputText type="text" formControlName="category" required />
        </div>
      </div>
      <div class="col-6">
        <div class="flex flex-column">
          <div class="text-3xl">分類連結</div>
          <input
            pInputText
            type="text"
            formControlName="categoryLink"
            required
          />
        </div>
      </div>
      <div class="col-6">
        <div class="flex flex-column">
          <div class="text-3xl">文章連結</div>
          <input pInputText type="text" formControlName="href" required />
        </div>
      </div>
      <div class="col-12">
        <div class="text-3xl">內文</div>
        <p-editor
          formControlName="summary"
          [style]="{ height: '320px' }"
          required
        ></p-editor>
      </div>
      <div class="col-12 flex gap-4 justify-content-end">
        <div
          *ngIf="isFormInValid"
          class="flex align-items-center bg-red-500 text-white px-4"
        >
          請確認是否填入所有欄位
        </div>
        <p-button
          styleClass="p-button-lg"
          type="submit"
          label="新增"
          icon="pi pi-check"
        ></p-button>
        <p-button
          styleClass="p-button-lg p-button-danger p-button-outlined"
          label="取消"
          icon="pi pi-times"
          (click)="doHiddenDialog()"
        ></p-button>
      </div>
    </div>
  </form>
</p-dialog>
