<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link href="/assets/styles/mainapp.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link
      rel="shortcut icon"
      href="http://blog.miniasp.com/favicon.ico"
      type="image/x-icon"
    />

    <meta
      name="description"
      content="The Will Will Web - 記載著 Will 在網路世界的學習心得與技術分享 - 記載著 Will 在網路世界的學習心得與技術分享"
    />
    <meta name="author" content="Will Huang" />

    <title>
      The Will Will Web | 記載著 Will 在網路世界的學習心得與技術分享
    </title>
  </head>

  <body>
    <div>
      <!-- <router-outlet></router-outlet> -->
      <app-header></app-header>
      <section class="container">
        <div class="row">
          <section class="col-md-8 content-wrapper">
            <div id="ctl00_cphBody_divError"></div>
            <div id="ctl00_cphBody_PostList1_posts" class="posts">
              <div class="flex align-items-center my-4">
                <p-button label="新增文章" (click)="onOpenDialog()"></p-button>
              </div>
              <app-article></app-article>
            </div>
          </section>
        </div>
      </section>
      <app-footer></app-footer>

      <app-article-dialog
        [(dialogVisible)]="isDialogOpened"
        (submitArticle)="onInsertArticleSubmit($event)"
      ></app-article-dialog>
    </div>
  </body>
</html>
