<header class="post-header">
  <h2 class="post-title">
    <a *ngIf="!isEdit" [href]="article.href">{{ article.title }}</a>
    <input
      pInputText
      type="text"
      size="60"
      *ngIf="isEdit"
      [value]="article.title"
      (keyup.enter)="doEditTitle()"
      (keyup.escape)="onCancelTitle()"
      [(ngModel)]="article.title"
    />

    <!-- (keyup.escape)="$event.target.value = article.title" -->
  </h2>
  <div class="post-info clearfix">
    <span class="post-date"
      ><i class="glyphicon glyphicon-calendar"></i
      >{{ article.date | date: "shortDate" }}</span
    >
    <span class="post-author"
      ><i class="glyphicon glyphicon-user"></i
      ><a href="http://blog.miniasp.com/author/will.aspx">{{
        article.author
      }}</a></span
    >
    <span class="post-category"
      ><i class="glyphicon glyphicon-folder-close"></i
      ><a [href]="article['categoryLink']">{{ article.category }}</a></span
    >
    <span>
      <p-button type="button" (click)="doDeleteArticle()">刪除文章</p-button>
      <p-button *ngIf="!isEdit" (click)="isEdit = true">編輯標題</p-button>
      <p-button *ngIf="isEdit" (click)="isEdit = false">取消編輯</p-button>
    </span>
  </div>
</header>
