﻿@media screen and (max-width: 767px) {
  .header .title-wrapper {
    padding: 25px 0 30px;
  }
  .header .title-wrapper .logo {
    display: none;
  }
  .header .title-wrapper .pull-left,
  .header .title-wrapper .pull-right {
    float: none !important;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .header .title-wrapper hgroup {
    height: auto;
    margin-bottom: 10px;
  }
  #q-notes {
    display: none !important;
  }
  .header .nav > li {
    border-bottom: 1px solid #333;
  }
  .header .nav > li.page-menu {
    width: 100%;
    position: relative;
  }
  .header .nav > li.page-menu .dropdown-toggle {
    float: right !important;
    position: absolute;
    right: 0;
    top: 0;
  }
  .header .nav > li.page-menu .dropdown-m {
    float: none !important;
  }
}

@media screen and (max-width: 640px) {
  .post .post-info .post-author,
  .post .post-info .post-comment-link,
  .archive-page .rating,
  .archive-page .comments,
  .navigation-posts {
    display: none;
  }
  .widgets-footer .widget {
    margin: 0;
    float: none;
    width: 100%;
  }
  .footer .end-line {
    min-height: auto;
    line-height: 25px;
    padding: 10px 50px;
  }
}

@media screen and (max-width: 480px) {
  .widgets-footer {
    display: none;
  }
  .comment-gravatar {
    display: none;
  }
}
